.App {
  max-width: 756px;
  margin: 0 auto;
  display: table;
}

.message-input{
  display:table-row;

}
.message-box{
  // height: 750px;
  // set height to equal the rest of the screen
  height: calc(100vh - 200px);
  @media (max-width: 768px) {
    height: calc(100vh - 250px);
  }
    
  
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  border-radius: 5px;
  
  display: flex;
  flex-direction: column-reverse;
  //Message input needs to sticky to bottom, regardless of scroll
  .message-input{
    position: sticky;
    bottom: 0;
    // float above
    z-index: 1;
    background-color: black;

  }
}

.nav{
  text-align: center;
}



#root {
  height: 100%;
}



body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
