
.message{
    // background-color: #BC96E6;
    // color: #A8F9FF;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    width: fit-content;
    
    &.right{
        // position to right
        margin-left: auto;
    }
    // &.error{
    //     background-color: rgb(255, 0, 0);
    // }
    // &.success{
    //     background-color: rgb(0, 255, 0);
    // }
    // &.warning{
    //     background-color: rgb(255, 255, 0);
    // }
    // &.info{
    //     background-color: rgb(0, 0, 255);
    // }
}